[submodule "lib/renard-phy-s2lp"]
	path = lib/renard-phy-s2lp
	url = https://github.com/Jeija/renard-phy-s2lp
[submodule "lib/CMSIS_5"]
	path = lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
[submodule "lib/renard-phy-s2lp-hal-stm32"]
	path = lib/renard-phy-s2lp-hal-stm32
	url = https://github.com/Jeija/renard-phy-s2lp-hal-stm32
[submodule "lib/stm32lib"]
	path = lib/stm32lib
	url = https://github.com/micropython/stm32lib
